.add-todo-container {
  display: flex;
  align-items: center;
  margin-top: 20px; 
  margin-bottom: 20px; 
}

.add-todo-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-todo-container .add-todo-button  {
  margin-left: 10px; 
  background-color: blueviolet;
}

